@font-face{
  font-family: AgileSans;
  src: url(AgileSans-Regular.otf);
  font-weight: bold;
}

@font-face{
  font-family: Virust;
  src: url(Akira\ Expanded\ Demo.otf);
}

body{
  font-family: Virust;
}

.backgroundImg{
  background-image: url(backgroundocean.webp);
  background-repeat: no-repeat;
}

.profileContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa;
}

.profileCard {
  background: lightblue;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 75vh;
  height: 100vh;
}

.profileName {
  text-align: center;
  font-size: 1.8rem;
  margin: 10px 0;
}

.profileBio {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contactInfo p {
  margin: 5px 0;
}
